<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Random Number GAME</h1>
    <p casls="lead">Guess a number and try your luck</p>
  </div>
</div>

<div class="container">
	<div class="row">
		<form action="{% url 'numbergame_url' %}" method="POST">
		{% csrf_token %}
	    <input type="hidden" class="form-control"  name="random_number" value={{random_number}}>
	  	<div class="form-group">
	    <label >Let's Play</label>
	    <input type="number" class="form-control"  name="guess_number" placeholder="">
	    <small class="form-text text-muted">Type the number here.</small>
	  	</div>
	  	<button type="submit" class="btn btn-primary">Play</button>
		</form>
	</div>
</div>
</body>